# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.recipe
*.ilk
*.txt
*.idb
*.pdb
*.vcxproj
*.filters
*.user
*.vsidx
*.lock
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
/.vs/slnx.sqlite-journal
/.vs/CMakeWorkspaceSettings.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
*.bin
/.vs/VSWorkspaceState.json
*.stamp
*.depend
*.cmake
/3rdParty/networked-3rdparty.sln
*.rule
*.c
/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.list
/networked.sln
/3rdParty/3rdParty/enet/enet.sln
*.pc
/3rdParty/3rdParty/raylib/raylib/external/glfw/GLFW.sln
/3rdParty/3rdParty/raylib/raylib/include/raylib.h
/3rdParty/3rdParty/raylib/raylib/include/raymath.h
/3rdParty/3rdParty/raylib/raylib/include/rlgl.h
/3rdParty/3rdParty/raylib/raylib.sln
/3rdParty/3rdParty/networked-3rdparty.sln
/3rdParty/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build
/3rdParty/w4
/3rdParty/networked.sln
